


.bible-dialog-body::-webkit-scrollbar {
    width: 6px;
}


.search-result-div::-webkit-scrollbar,
.books-dialog::-webkit-scrollbar,
.editor-wrapper::-webkit-scrollbar,
.dict-words-list::-webkit-scrollbar,
.dict-content::-webkit-scrollbar,
.strongs-numbers-list::-webkit-scrollbar,
.strongs-content::-webkit-scrollbar,
.comt-content-div::-webkit-scrollbar,
.bible-container::-webkit-scrollbar,
.notes-container::-webkit-scrollbar {
    width: 8px
}


#bible-body::-webkit-scrollbar-track {
    background: #424242;
    margin-bottom: 10px;
}

.search-result-div::-webkit-scrollbar-thumb,
.books-dialog::-webkit-scrollbar-thumb,
.editor-wrapper::-webkit-scrollbar-thumb,
.dict-words-list::-webkit-scrollbar-thumb,
.dict-content::-webkit-scrollbar-thumb,
.strongs-numbers-list::-webkit-scrollbar-thumb,
.strongs-content::-webkit-scrollbar-thumb,
.comt-content-div::-webkit-scrollbar-thumb,
.bible-container::-webkit-scrollbar-thumb,
.bible-dialog-body::-webkit-scrollbar-thumb,
.notes-container::-webkit-scrollbar-thumb {
    background-color: #858383;
    -webkit-appearance: none;
}

    .search-result-div::-webkit-scrollbar-thumb:hove
    .books-dialog::-webkit-scrollbar-thumb:hover,
    .editor-wrapper::-webkit-scrollbar-thumb:hover,
    .dict-words-list::-webkit-scrollbar-thumb:hover,
    .dict-conten::-webkit-scrollbar-thumb:hover,
    .strongs-numbers-list::-webkit-scrollbar-thumb:hover,
    .strongs-conten::-webkit-scrollbar-thumb:hover,
    .comt-content-div::-webkit-scrollbar-thumb:hover,
    .bible-container::-webkit-scrollbar-thumb:hover,
    .bible-dialog-body::-webkit-scrollbar-thumb:hover,
    .notes-container::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8;
    }

.search-result-div::-webkit-scrollbar-corner,
.books-dialog::-webkit-scrollbar-corner,
.editor-wrapper::-webkit-scrollbar-corner,
.dict-words-list::-webkit-scrollbar-corner,
.dict-conten::-webkit-scrollbar-corner,
.strongs-numbers-list::-webkit-scrollbar-corner,
.strongs-conten::-webkit-scrollbar-corner,
.comt-content-div::-webkit-scrollbar-corner,
.bible-container::-webkit-scrollbar-corner,
.bible-dialog-body::-webkit-scrollbar-corner,
.notes-container::-webkit-scrollbar-corner {
    background: transparent;
}